.cta-btn{
    background-color: #1aa34a;
    color: white;
    width: 350px;
    border-radius: 500px;
    text-decoration: none;
    outline-offset: -2px;
    margin-top: 30px;
    padding: 21px 56px 19px;
    
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    font-family: "circ-bold";
    letter-spacing: 1px;
}

.explore-cta {
    text-align: center;
    vertical-align: middle;
}

.cta-btn:hover{
    box-shadow: 10px 10px 30px rgba(0,0,0,0.12);
}