
<form action="" class="user-form" (ngSubmit)="onSubmit()" #basicDetailsForm="ngForm">
  <div class="form-group">
        <small *ngIf="title.errors && (title.dirty || title.touched)" class="text-muted">
            <div [hidden]="!title.errors.required">Project Title is required</div>
        </small>
        <input type="text" class="form-control" placeholder="Project Title" required="" name="title" autofocus="" #title="ngModel" [(ngModel)]="model.title"/>    
  </div>

  <div class="form-group">
        <small *ngIf="subtitle.errors && (subtitle.dirty || subtitle.touched)" class="text-muted">
            <div [hidden]="!subtitle.errors.required">Subtitle is required</div>
        </small>

        <input type="text" class="form-control" placeholder="Subtitle" required="" autofocus="" name="subtitle" #subtitle="ngModel" [(ngModel)]="model.subtitle"/>    
  </div>

    <div class="form-group">
        <small *ngIf="target.errors && (target.dirty || target.touched)" class="text-muted">
            <div [hidden]="!target.errors.required">Target is required</div>
            <div [hidden]="!target.errors.pattern">Target must be in the format $12.34</div> 
            <div [hidden]="!target.errors.max">Amount must be less than 1,000,000</div>            
        </small>
        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
            <div class="input-group-addon">Target $</div>
                <input rows="6" type="text" class="form-control" name="target" placeholder="00.00" max="1000000" required="" autofocus="" #target="ngModel" [(ngModel)]="model.target" pattern="[0-9]+[.][0-9][0-9]"/> 
        </div>
  </div>

  <div class="form-group">
        <small *ngIf="description.errors && (description.dirty || description.touched)" class="text-muted">
            <div [hidden]="!description.errors.required">Description is required</div>
        </small>
        <textarea rows="6" type="text" class="form-control" name="description" placeholder="Description" required="" autofocus="" #description="ngModel" [(ngModel)]="model.description"></textarea> 
  </div>

  <button class="btn btn-lg btn-primary btn-block form-submit-button" type="submit" [disabled]="!basicDetailsForm.form.valid">
      {{basicDetailsForm.form.valid ? 'Now let\'s add some rewards' : 'Enter the projects details...'}}
  </button>   
</form>

