.container {
    padding-top: 50px;
}

.projectImage{
    height: 400px;
}

.projectSubtitle{
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: -.01em;
    font-weight: 900;
    font-family: "circ-black";
    color: #5C5C5C;
}

.projectDescription{
    color: #3F3F3F;
    overflow: scroll;
    overflow-x: hidden;
    height: 336px;
    padding-right: 12px;
}


.projectDescription::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 5px;
	background-color: #F5F5F5;
}

.projectDescription::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

.projectDescription::-webkit-scrollbar-thumb
{
	border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgba(88, 107, 233, 0.3);
}

.rewards{
    padding-right: 0;
}

.rewardContainer{
    width: 400px;
    float: right;
}

.rewardHeading {
    width: 400px;
    float: right;
    margin-bottom:20px;
}

.card{
    margin-bottom: 25px;
    padding: 25px;
    border: 1px solid rgba(0,0,0,.125);
    box-shadow: 5px 5px 40px 1px rgba(0, 0, 0, 0.1) !important;
}

.closeProjectButton{
    cursor: pointer;
}