<div *ngIf="project != undefined">

    <app-page-head-small title="{{project.title}}" *ngIf="project != undefined" ></app-page-head-small>
    
    <div class="container">
        <div class="row">
                <img src="{{project.imageUri}}" class="projectImage col-md-6"/>
                <div class="col-md-6">
                    <p class="projectSubtitle">{{project.subtitle}}</p>    
                    
                    <p class="projectDescription">
                        {{project.description}}
                    </p>
                </div>
        </div>
        <br><br><br>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <app-funding-status class="currentProgress card-body"
                        [pledged]="project.progress.currentPledged" 
                        [goal]="project.target" 
                        [numBackers]="project.backers.length">
                    </app-funding-status>

                    <p class="boldInfo">Created by <span class="greenHighlight">{{ project.creators[0].username }}</span> on <span class="greenHighlight">{{ "27th October" }}</span></p>  

                    <a *ngIf="loginService.isLoggedIn() && loginService.userId == project.creators[0].id && project.open" (click)="closeProject()" class="closeProjectButton greenHighlight">Close Project</a>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h3>Recent Pledges</h3>
                        <app-pledge-detail *ngFor="let pledge of project.backers"
                            [username]="pledge.username"
                            [amount]="pledge.amount">
                        </app-pledge-detail>
                    </div>
                </div>
            </div>
                  
            <div class="col-md-6">
                <h3 class="rewardHeading">Rewards</h3>

                <div *ngIf="project.open">
                    <div class="rewardContainer" *ngFor="let reward of project.rewards" (click)="pledgeClicked(reward.amount)">
                        <app-reward amount="{{reward.amount}}" description="{{reward.description}}"></app-reward>
                    </div>
                </div>

                <div *ngIf="!project.open" class="rewardContainer">
                    <p>Project Has Been closed</p>
                </div> 
            </div>         
        </div>
    </div>
 
    <app-footer></app-footer>
</div>

