.projects{
    margin-top: 80px;
}

.project{
    margin-bottom: 60px;
}

.project-list-result{
    text-align: center;
    width: 400px;
    margin: auto;
}

.project-end-reached{
    color: gray;
}