<app-page-head-small title="Explore" ></app-page-head-small>

<div class="container projects"
    infiniteScroll 
    [infiniteScrollDistance]="0" 
    [infiniteScrollThrottle]="1500"
    (scrolled)="scrolledDown()">
    
    <div class="search" *ngIf="true">
        <input type="text" placeholder="Search" (change)="searchChanged()" [(ngModel)]="searchQuery" class="form-control search-box">

        <div class="dropdown select-buttons" *ngIf="loginService.isLoggedIn()">
            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ this.getFilterButtonLabel() }}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" (click)="filterAllProjects()">All Projects</a>
                <a class="dropdown-item" (click)="filterCreatedProjects()">Projects I Created</a>
                <a class="dropdown-item" (click)="filterBackedProjects()">Projects I Back</a>
            </div>
        </div>
    </div>

    <div class="no-projects-error" *ngIf="!thereAreProjectsAvailable()">
            <i class="fa fa-frown-o" aria-hidden="true"></i>

            <h3  class="text-center no-projects-error">Sorry, There aren't any projects available</h3>
    </div>

    <div class="row project-list" *ngIf="thereAreProjectsAvailable()">
        <div *ngFor="let project of projectService.getProjectBriefs()">
            <div class="col-md-4 project" *ngIf="project.title.toLowerCase().includes(searchQuery.toLowerCase()) || project.subtitle.toLowerCase().includes(searchQuery.toLowerCase())">
                <app-project title="{{project.title}}" subtitle="{{project.subtitle}}" imageUri="{{project.imageUri}}" id="{{project.id}}"></app-project>
            </div>
        </div>     
    </div>
</div>

<div class="project-list-result">
    <i class="fa fa-refresh fa-spin fa-3x fa-fw" *ngIf="!projectService.endOfProjectsReached() && !isInSearchMode && thereAreProjectsAvailable()"></i>
    <p class="project-end-reached" *ngIf="projectService.endOfProjectsReached() && thereAreProjectsAvailable()">There are no more projects left <i class="fa fa-frown-o" aria-hidden="true"></i>
</p>
</div>

<app-footer></app-footer>