<app-minijumbo title="Explore"></app-minijumbo>

<div class="container projects">
    <div class="row">
    <div class="col-md-4 project">
        <app-project [title]="asdasdasdasd"></app-project>
    </div>

    <div class="col-md-4 project">
        <app-project></app-project>
    </div>

    <div class="col-md-4 project">
        <app-project></app-project>
    </div>    
  </div>

  <div class="row">
    <div class="col-md-4 project">
        <app-project></app-project>
    </div>

    <div class="col-md-4 project">
        <app-project></app-project>
    </div>

    <div class="col-md-4 project">
        <app-project></app-project>
    </div>    
  </div>
</div>

<nav>
  <ul class="pagination">
    <li class="page-item"><a class="page-link">Previous</a></li>
    <li class="page-item"><a class="page-link">1</a></li>
    <li class="page-item"><a class="page-link">2</a></li>
    <li class="page-item"><a class="page-link">3</a></li>
    <li class="page-item"><a class="page-link">Next</a></li>
  </ul>
</nav>

<app-footer></app-footer>