.projects{
    margin-top: 30px;
}

.project{
    margin-bottom: 60px;
}

.project-list-result{
    text-align: center;
    width: 400px;
    margin: auto;
}

.project-end-reached{
    color: gray;
}

.search-box{
    background-color: rgba(255, 255, 255, 0.0);
    border-radius: 5px;
    height: 40px;
    width: 300px;
    float: left;
}

.project-list{
    padding-top: 10px;
    width: 100%;
    
}

.search{
    width:100%;
    padding-bottom: 50px;
}

.select-buttons{
    float: right;
}