<app-minijumbo title="Sign Up"></app-minijumbo>

<div class="container">
    <div *ngIf="hasError && !wasSuccess" class="alert alert-danger form-message">
        {{ errorMessage }}
    </div>

    <div *ngIf="wasSuccess" class="alert alert-success form-message">
        Registered, logging in....
    </div>

    <form class="user-form" (ngSubmit)="onSubmit()" #signupForm="ngForm">   
        <h2 class="form-heading">Create an account</h2>
    
        <div class="form-group">
            <small *ngIf="username.errors && (username.dirty || username.touched)" class="text-muted">
                <div *ngIf="username.errors.required">Username is required</div>
            </small>
        
            <input type="text" class="form-control" name="username" placeholder="Username" required="" autofocus="" #username="ngModel" [(ngModel)]="model.username"/>
        </div>

        <div class="form-group">
            <small *ngIf="email.errors && (email.dirty || email.touched)" class="text-muted">
                <div *ngIf="email.errors.required">Email is required</div>
                <div *ngIf="email.errors.email && !email.errors.required">Email must be a valid email address</div>
            </small>

            <input type="email" class="form-control" name="email" placeholder="Email" required="" #email="ngModel" email [(ngModel)]="model.email"/>      
        </div>

        <div class="form-group">
            <input type="text" class="form-control" name="location" placeholder="Location (optional)" #location="ngModel" [(ngModel)]="model.location"/>  
        </div>


        <div class="form-group">
            <small *ngIf="password.errors && (password.dirty || password.touched)" class="text-muted">
                <div *ngIf="password.errors.required">Password is required</div>
            </small>

            <input type="password" class="form-control" name="password" placeholder="Password" #password="ngModel" required="" [(ngModel)]="model.password"/>      
        </div>

        <button class="btn btn-lg btn-primary btn-block btn-rounded form-submit-button" type="submit" [disabled]="!signupForm.form.valid">
            Sign Up
            <span *ngIf="isSigningUp"><i class="fa fa-spinner fa-pulse"></i></span>                        
        </button> 

        <p class="form-cta">Already have an account? <a routerLink="/login">Login</a> </p>  
    </form>
</div>

<app-footer></app-footer>