<div class="featured-projects container">
  <h1 class="subhead">Featured Projects</h1>
  <div class="no-projects-error" *ngIf="thereAreProjectsAvailable()">
    <i class="fa fa-frown-o" aria-hidden="true"></i>

    <h3  class="text-center no-projects-error">Sorry, There aren't any projects available</h3>
  </div>
  <div class="row">
      
    <div class="col-md-4 project" *ngFor="let project of projectService.getFeaturedProjects()">
        <app-project title="{{project.title}}" subtitle="{{project.subtitle}}" imageUri="{{project.imageUri}}" id="{{project.id}}"></app-project>
    </div> 
  </div>

</div>