
<div class="card project-card" style="width: 20rem;">
  <img class="card-img-top project-card-img" src="http://static4.businessinsider.com/image/56c640526e97c625048b822a-480/donald-trump.jpg" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title project-card-title">The Wall</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a routerLink="/project" class="btn btn-outline-primary">Go somewhere</a>
  </div>
</div>
