<form action="" class="user-form" #rewardForm="ngForm">
  <div class="form-group">
        <small *ngIf="description.errors && (description.dirty || description.touched)" class="text-muted">
            <div [hidden]="!description.errors.required">Project Title is required</div>
        </small>
      <textarea class="form-control" name="description" placeholder="Reward Description" required="" autofocus="" #description="ngModel" [(ngModel)]="currentReward.description"> </textarea>    
  </div>

  <div class="form-group">
        <small *ngIf="amount.errors && (amount.dirty || amount.touched)" class="text-muted">
            <div [hidden]="!amount.errors.required">Project Title is required</div>
        </small>
      <input type="text" class="form-control" name="amount" placeholder="Amount (cents)" required="" autofocus="" #amount="ngModel" [(ngModel)]="currentReward.amount"/>    
  </div>

  <button type="button" class="btn btn-lg btn-primary btn-block form-submit-button" (click)="addReward()" [disabled]="!rewardForm.form.valid">
      Add Reward
  </button>   

  <button class="btn btn-lg btn-primary btn-block form-submit-button" type="submit" (click)="onSubmit()">
      {{ rewards.length > 0 ? 'Create Project' : 'I don\'t want any rewards' }}
      <span *ngIf="isProcessing"><i class="fa fa-spinner fa-pulse"></i></span>  
  </button>   

  <ul class="list-group" *ngIf="rewards != undefined && rewards.length > 0 && false">
    <li class="list-group-item truncate" *ngFor="let reward of rewards">{{reward.description}}</li>
  </ul>

</form>

