.reward-badge{
    background-color: rgb(163, 163, 163);
    padding: 10px 20px 10px 20px;
    font-size: 14px;
    margin:5px;
    text-align: left;
}

.rewards-list{
    width:100%;
    padding: 0;
    margin: 0px -5px 0px -5px;
}

.rewards{
    margin-top: 20px;
}

.reward-edit-icons{
    float: right;
    cursor: pointer;
    width: 40px;
}

.reward-badge i {
    margin-left: 8px;
    vertical-align: middle;
}

.edit-icon {
    margin-top: 2px;
}