/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "circ-black";
    src: url('/assets/fonts/cb.woff2') format("woff");
}

@font-face {
    font-family: "circ-bold";
    src: url('/assets/fonts/cbo.woff2') format("woff");
}

/*
    Alerts 

    1. Danger
    2. Success
    3. Form Message
*/

.alert-danger {
  background-color: #e74c3c;
  border-color: #e74c3c;
  color: #ffffff;
}

.alert-danger hr {
  border-top-color: #e43725;
}

.alert-danger .alert-link {
  color: #e6e6e6;
}

.alert-success {
  background-color: #18bc9c;
  border-color: #18bc9c;
  color: #ffffff;
}
.alert-success hr {
  border-top-color: #15a589;
}
.alert-success .alert-link {
  color: #e6e6e6;
}

.alert-left-align{
    margin-left: 0 !important;
}

.form-message{
    margin: 0 auto;
    max-width: 480px;
    margin-top: 60px;
    margin-bottom: -50px;
}

/*
    Buttons

*/
.btn-rounded{
    border-radius: 500px;
}

.form-submit-button {
    background-color: #2ebd59;
    border-color: #2ebd59;
    margin-top: 20px;
}

.form-submit-button:hover {
    background-color: #2ebd59;
    border-color: #2ebd59;
}

.form-submit-button:disabled {
    background-color: #2ebd59;
    border-color: #2ebd59;
}

/*
    Forms
*/
.user-form {
  max-width: 480px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  margin-top:80px;
  margin-bottom: 200px;
}

.left-aligned-form{
    margin-left: 0px;
    padding-left: 0px;
}

input[type="password"], input[type="email"], input[type="text"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-radius: 0;
    font-family: "circ-bold";
}

.checkbox {
    font-weight: normal;
}

.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    margin-bottom: 10px !important;
    margin-top: 0px !important;
    border: 1px solid rgba(0,0,0,0.3);
}

.form-heading {
    margin-bottom: 30px;
}

.form-cta {
    max-width: 480px;
    margin: auto;
    text-align: center;
    padding-top: 20px;
}

.input-group-addon{
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-radius: 0;
    font-family: "circ-bold";
        position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    margin-bottom: 10px !important;
    margin-top: 0px !important;
    border: 1px solid rgba(0,0,0,0.3);
}
/*
    Effects 
*/
.hvr-bounce-in {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.bounce-med:hover{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);

}

.bounce-light:hover{
    -webkit-transform: scale(1.04);
    transform: scale(1.04);

}

.btn-square{
    border-radius: 0;
    width: 180px;
}

#plege_amount_fi{
    width: 300px;
}